<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app saves chart and plant images to your photo library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app lets you choose a plant image from your photo library.</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to check for frost warnings and help protect your plants.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to check for frost warnings and help protect your plants.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This App saves charts and plant visuals to your photo library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
</dict>
</plist>
